* { font-family: "Helvetica Neue", Helvetica, Arial; }
body {
	margin: 0;
}

.container {
	margin: 0px auto;
	}

	header.intro { 
		position: fixed;
		width: 100%;
		/*background-color: hsl(220, 51%, 44%);*/
		/*color: hsl(0, 100%, 100%);*/
		color: hsl(220, 51%, 44%);
		border-bottom: 1px solid hsl(0, 1%, 1%);
		}
		.report-title { 
			margin-top: 12px;
			margin-bottom: 12px; 
			margin-left: 3%;
			float: left;
			font-size: 14px;
			font-weight: 700;
			}
		.report-subtitle {
			padding-top: 12px;
			padding-right: 3%;
			padding-bottom: 12px;
			padding-left: 3%;
			float: right;
			font-size: 16px;
			font-weight: 200;
			/*background-color: hsl(220, 51%, 56%);*/
			}

	.content {
		width: 94%;
		margin: 0px auto;
		padding-top: 85px;


		}


table { 
	width: 100%;
	margin-bottom: 50px;
	table-layout: fixed; 
	}


.f16 { font-size: 16px; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.float-left { float: left; position: absolute; }
.float-right { float: right; }
.thin { font-weight: 200; }
.bold { font-weight: 700; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.left-border { border-left: 1px solid; }
.right-border { border-right: 1px solid; }


.reports > * { font-size: 10px; }

.agency {
	font-weight: 700;
	height: 20px;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 30px;
	background-color: #000;
	color: #FFF;
	text-align: left;
	border-right: 1px solid #000;
	}

.continuum {
	font-weight: 700;
	height: 20px;
	font-size: 12px;	
	padding-left: 10px;
	padding-right: 30px;
	background-color: #f2bced;
	}

.program {
	height: 20px;
	font-size: 12px;	
	padding-left: 10px;
	padding-right: 15px;
	/*background-color: #d8effe;*/
	background-color: hsl(209, 74%, 94%);
	border-bottom: 2px solid #000;
	text-align: left;
	padding-top: 1px;
	}

.typecode {
	font-weight: 100;
	font-style: italic;
	}

.subheadings {
	padding-bottom: 3px;
	margin-bottom: 2px;
	font-weight: 700;
	text-align: center;
	font-style: italic;
	font-size: 11px;
	border-bottom: 1px solid;
	background-color: #ebebeb;

	}

td {
	padding-right:  20px;
	border-left:  1px solid black;
	}



.fieldname {
	font-weight: 700;
	padding-left: 10px;
	padding-right: 20px;
	/*border-left:  1px solid black;*/
	border-bottom:  0px;
	}

.fieldvals {
	/*padding-left: 10px;*/
	/*padding-right: 30px;*/
	float: right;
	text-align: center;

	}

/*td.quality  {
	width: 25%;
	}*/

.col {
	width: 50%;
	display: inline-block;
	}

.col.float-left {
	margin-right: 25%;
	}

.score {
	text-align: center;
	background-color: #fed8ef;
	/*border: 2px solid #ada6ee;*/
	padding: 20px;
	color: #d20581;
	border-right:  1px solid black;

	}

.score-num { font-size: 22px; }


.mini-score {
	/*text-align: center;*/
	background-color: #ada6ee;
	border: 0px;
	/*padding: 20px;*/
	color: #FFF;
	
	}

.mini-score-num { 
	font-size: 18px; 
	/*background-color: #ada6ee;*/
	/*border: 3px solid #ada6ee;*/
	/*border-right:  1px solid black;*/

	}

.mini-percent {
	font-size: 16px;
	}